@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

/* "box-sizing" garanti que padding et border font partie intégrante de la largeur et hauteur des éléments */
* {
    box-sizing: border-box;
  }

body {
  font-family: 'Open Sans', sans-serif;
  padding: 0px;
}

/*EXOS BECODE 4*/
/* Adapte la couleur de l'écran selon la taille de celui-ci */
@media only screen and (max-width: 380px) {
  body {
    font-size: 12px;
    background-color: red;
  }
  #small, #medium, #large {
    font-size: 1em;
    color: gray;
    padding: 5px 10px;
    margin: 0 0 10px 0;
    background-color: #ebebeb;
    border-radius: 5px;
  }
  h1 {font-weight: 800;}
  h2 {font-weight: 600; text-decoration: underline;}
  p {font-weight: 300;}

  #tab {display: none;}
  #desk {display: none;}
}

@media only screen and (min-width: 381px) and (max-width: 768px) {
  body {
    font-size: 15px;
    background-color: green;
  }
  #small, #medium, #large {
    font-size: 1em;
    color: gray;
    padding: 5px 10px;
    margin: 0 0 10px 0;
    background-color: #ebebeb;
    border-radius: 5px;
  }
  h1 {font-weight: 800;}
  h2 {font-weight: 600; text-decoration: underline;}
  p {font-weight: 300;}

  #mob {display: none;}
  #desk {display: none;}
}
@media only screen and (min-width: 769px) {
  body {
    font-size: 18px;
    background-color: blue;
  }
  #small, #medium, #large {
    font-size: 1em;
    color: gray;
    padding: 5px 10px;
    margin: 0 0 10px 0;
    background-color: #ebebeb;
    border-radius: 5px;
    display: inline-block;
  }
  h1 {font-weight: 800;}
  h2 {font-weight: 600; text-decoration: underline;}
  p {font-weight: 300;}

  #mob {display: none;}
  #tab {display: none;}
}
/*FIN EXOS BECODE 4*/


/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/*@media only screen and (max-width: 768px) {
  / For mobile phones: /
  [class*="col-"] {
    width: 100%;
  }
}*/