@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

/* "box-sizing" garanti que padding et border font partie intégrante de la largeur et hauteur des éléments */
* {
    box-sizing: border-box;
  }

body {
  font-family: 'Open Sans', sans-serif;
  padding: 0px;
}
.container {
    display: grid;
    row-gap: 10px;
    column-gap: 10px;
}
.one { grid-area: one; }
.two { grid-area: two; }
.three { grid-area: three; }

@media only screen and (max-width: 550px) {
    body {
        font-size: 12px;
        background-color: orange;
    }
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
          "one"
          "two"
          "three";
    }
    .one, .two, .three {
        font-size: 1em;
        color: gray;
        padding: 5px 10px;
        background-color: #ebebeb;
        border-radius: 5px;
      }
}

@media only screen and (min-width: 551px) and (max-width: 768px) {
    body {
      font-size: 15px;
      background-color: green;
    }
    .container {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
           "one one two"
           "three three three";
    }
    .one, .two, .three {
        font-size: 1em;
        color: gray;
        padding: 5px 10px;
        background-color: #ebebeb;
        border-radius: 5px;
      }
}

@media only screen and (min-width: 769px) {
    body {
      font-size: 18px;
      background-color: skyblue;
    }
    .container {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
          "one two three";
    }
    .one, .two, .three {
        font-size: 1em;
        color: gray;
        padding: 5px 10px;
        background-color: #ebebeb;
        border-radius: 5px;
      }
}